@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Fredoka:wght@300;400;500&family=Quicksand:wght@300&family=Shizuru&family=Source+Sans+Pro&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #2a2a2a;
}

.nav {
    display: flex;
    height: 40px;
    background-color: #221b1b;
    position: fixed;
    width: 100%;
    
}

.right-nav {
    display: flex;
width: 50%;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    padding-right: 20px;
    gap: 30px;
 
}

.left-nav {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.left-nav > button {
    width: 38px;
    height: 38px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

#white {
    background-color: white;
}
#dark {
    background-color: #2a2a2a;
}

h3 > a {
    
    color: white;
    font-style: italic;
    font-size: 20px;
    font-family: 'Courier New', sans-serif ;
    
}

.header {
    display: flex;

    height: 500px;
    justify-content: center;

}

.left-text {
  width: 500px;

  display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;

}
.right-img {
    display: flex;
    width: 500px;

}

.right-img > img {
    max-width: 100%;
    max-height: 100%;

}
.left-text > h1 {
    color: white;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
}
h2 {
    padding-left: 25px;
    padding-right: 25px;
    color: azure;
    font-family: 'Courier New', Courier, monospace;
}
.skills {
    display: flex;
 
    height: 600px;
    flex-direction: column;
}
.topdisplay {
    width: 100%;
    height: fit-content;
   background-color: #221b1b;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.topdisplay:hover {
    background-color: lightslategray;
 
    cursor: pointer;
}
.topdisplay > h3 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-style: italic;
    font-size: 30px;
}

.shelf1 {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    padding: 20px 120px 0px 110px ;

}

.shelf1 > div {
    height: 100px;
    
  
    display: flex;
 
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
    width: fit-content;

    border-radius: 8px;
}
.shelf1 > div > img {
    max-width: 100%;
    max-height: 100%;
}
.shelf1 > div:hover {
    cursor: pointer;
    background-color: aquamarine;

}


.projects {
    display: flex;
 
    height: 600px;
    flex-direction: column;
}
.toppro {
    width: 100%;
    height: fit-content;
   background-color: #221b1b;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.toppro:hover {
    background-color: lightslategray;
 
    cursor: pointer;
}
.toppro > h3 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-style: italic;
    font-size: 30px;
}
.pro1 {
    display: flex;

    width: 100%;
    height: 400px;

}

.left-exp1 {
    width:fit-content;
    background-color: #3f4344;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 360px;
 margin: 20px;
 border-radius: 10px;
}
.left-exp1 > button {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
}
.left-exp1 > button:hover {
    background-color: lightslategray;
    color: black;
}
.left-exp1 > p {
    font-family: Quicksand, sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 30px;
    padding-left: 20px;
}
.right-show1 {
    width: 1300px;

    padding: 20px;
}

.right-show1 > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.pro2 {
    display: flex;

    width: 100%;
    height: 400px;

}

.left-exp2 {
    width:fit-content;
    background-color: #3f4344;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 360px;
 margin: 20px;
 border-radius: 10px;
 background-image: url(https://www.hoteldonandres.com/wp-content/uploads/2016/10/blackboard.jpg);
 background-size: cover;
}
.left-exp2 > button {
    width: 200px;

    
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    background-color: #5f9341;
    font-weight: bolder;
    font-size: 15px;
    color: azure;
    padding: 10px 15px 10px 15px;
    border: none;
    height: fit-content;

    margin-top: 5px;
    border-radius: 8px;
}
.left-exp2 > button:hover {
    background-color: lightslategray;
    color: black;
}
.left-exp2 > p {
    font-family: Quicksand, sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 30px;
    padding-left: 20px;
}
.right-show2 {
    width: 100%;

    padding: 20px;
}

.right-show2 > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.pro3 {
    display: flex;

    width: 100%;
    height: 400px;

}

.left-exp3 {
    width:fit-content;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 360px;
 margin: 20px;
 border-radius: 10px;

 background-size: cover;
}
.left-exp3 > button {
    width: 200px;

    
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    background-color: #1da2dc;
    font-weight: bolder;
    font-size: 15px;
    color: azure;
    padding: 10px 15px 10px 15px;
    border: none;
    height: fit-content;

    margin-top: 5px;
    border-radius: 8px;
}
.left-exp3 > button:hover {
    background-color: lightslategray;
    color: black;
}
.left-exp3 > p {
    font-family: Quicksand, sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 30px;
    padding-left: 20px;
}
.right-show3 {
    width: 100%;

    padding: 20px;
}

.right-show3 > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}



.pro4 {
    display: flex;

    width: 100%;
    height: 400px;

}

.left-exp4 {
    width:fit-content;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 360px;
 margin: 20px;
 border-radius: 10px;
 background: url('https://github.com/Ismaelx1/Vanilla-JS-DrumKit/blob/main/blackBg.jpg?raw=true') bottom center;
 background-size: cover;
}
.left-exp4 > button {
    width: 200px;

    
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    background-color: #1da2dc;
    font-weight: bolder;
    font-size: 15px;
    color: azure;
    padding: 10px 15px 10px 15px;
    border: none;
    height: fit-content;

    margin-top: 5px;
    border-radius: 8px;
}
.left-exp4 > button:hover {
    background-color: lightslategray;
    color: black;
}
.left-exp4 > p {
    font-family: Fredoka, sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 30px;
    padding-left: 20px;
}
.right-show4 {
    width: 900px;

    padding: 20px;
}

.right-show4 > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.pro5 {
    display: flex;

    width: 100%;
    height: 400px;

}

.left-exp5 {
    width:fit-content;
    background-color: #403d3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 360px;
 margin: 20px;
 border-radius: 10px;

 background-size: cover;
}
.left-exp5 > button {
    width: 200px;

    
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    color: #69bfdb;
    font-weight: bolder;
    font-size: 15px;
    font-family: Fredoka, sans-serif;
 
    padding: 10px 15px 10px 15px;
    border: none;
    height: fit-content;

    margin-top: 5px;
    border-radius: 8px;
}
.left-exp5 > button:hover {
    background-color: lightslategray;
    color: black;
}
.left-exp5 > p {
    font-family: Fredoka, sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 30px;
    padding-left: 20px;
}
.right-show5 {
    width: 100%;

    padding: 20px;
}

.right-show5 > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.pro6 {
    display: flex;

    width: 100%;
    height: 400px;

}

.left-exp6 {
    width:fit-content;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 360px;
 margin: 20px;
 border-radius: 10px;

 background-size: cover;
}
.left-exp6 > button {
    width: 200px;

    
    background-color: #2196f3;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    color: black;
    font-weight: bolder;
    font-size: 15px;
    font-family: Fredoka, sans-serif;
 
    padding: 10px 15px 10px 15px;
    border: none;
    height: fit-content;

    margin-top: 5px;
    border-radius: 8px;
}
.left-exp6 > button:hover {
    background-color: lightslategray;
    color: black;
}
.left-exp6 > p {
    font-family: Quicksand, sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 30px;
    padding-left: 20px;
}
.right-show6 {
    width: 1350px;

    padding: 20px;
}

.right-show6 > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.pro7 {
    display: flex;

    width: 100%;
    height: 400px;

}

.left-exp7 {
    width:fit-content;
    background-color: #b6967d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 360px;
 margin: 20px;
 border-radius: 10px;

 background-size: cover;
}
.left-exp7 > button {
    width: 200px;

    
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    color: black;
    font-weight: bolder;
    font-size: 15px;
    font-family: Cairo, sans-serif;
 
    padding: 10px 15px 10px 15px;
    border: none;
    height: fit-content;

    position: absolute;
    margin-top: 220px;
    border-radius: 8px;
}
.left-exp7 > button:hover {
    background-color: lightslategray;
    color: black;
}
.left-exp7 > p {
    font-family: Cairo, sans-serif;
    font-weight: bolder;
    color: black;
    font-size: 30px;
    padding-left: 20px;
}
.right-show7 {
    width: 1350px;

    padding: 20px;
}

.right-show7 > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.pro8 {
    display: flex;

    width: 100%;
    height: 400px;

}

.left-exp8 {
    width:fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 360px;
 margin: 20px;
 border-radius: 10px;

 background-size: cover;
}
.left-exp8 > button {
    width: 200px;

    
    background-color: #272822;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    font-family: Cairo, sans-serif;
 
    padding: 10px 15px 10px 15px;
    border: none;
    height: fit-content;

    position: absolute;
    margin-top: 220px;
    border-radius: 8px;
}
.left-exp8 > button:hover {
    background-color: lightslategray;
    color: black;
}
.left-exp8 > p {
    font-family: Quicksand, sans-serif;
    font-weight: bolder;
    color: #403d3d;
    font-size: 30px;
    padding-left: 20px;
}
.right-show8 {
    width: 1350px;

    padding: 20px;
}

.right-show8 > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.pro9 {
    display: flex;

    width: 100%;
    height: 400px;

}

.left-exp9 {
    width:fit-content;
    background-color: #12181b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 360px;
 margin: 20px;
 border-radius: 10px;
width: 49%;
 background-size: cover;
}
.left-exp9 > button {
    width: 200px;

    
    background-color: #f24c60;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    font-family: Fredoka, sans-serif;
 
    padding: 10px 15px 10px 15px;
    border: none;
    height: fit-content;

    position: absolute;
    margin-top: 220px;
    border-radius: 8px;
}
.left-exp9 > button:hover {
    background-color: lightslategray;
    color: black;
}
.left-exp9 > p {
    font-family: Fredoka, sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 30px;
    padding-left: 20px;
}
.right-show9 {
    width: 50%;

    padding: 20px;
}

.right-show9 > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.pro10 {
    display: flex;

    width: 100%;
    height: 400px;

}

.left-exp10 {
    width:fit-content;
    background-image: linear-gradient(45deg, rgb(140, 202, 165), 
    rgb(198,159,197), rgb(248, 160, 133), rgb(52,219,216));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 360px;
 margin: 20px;
 border-radius: 10px;
width: 49%;
 background-size: cover;
}
.left-exp10 > button {
    width: 200px;

    
    background-color: white;
    
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    color: black;
    font-weight: bolder;
    font-size: 15px;
    font-family: Fredoka, sans-serif;
 
    padding: 10px 15px 10px 15px;
    border: none;
    height: fit-content;

    position: absolute;
    margin-top: 220px;
    border-radius: 8px;
}
.left-exp10 > button:hover {
    background-color: lightslategray;
    color: black;
}
.left-exp10 > p {
    font-family: Fredoka, sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 30px;
    padding-left: 20px;
}
.right-show10 {
    width: 50%;

    padding: 20px;
}

.right-show10 > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.about {
    display: flex;
 
    height: 600px;
    flex-direction: column;
    align-items: center;
}
.about {
    width: 100%;
    height: fit-content;
   background-color: #221b1b;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.about:hover {
    background-color: lightslategray;
 
    cursor: pointer;
}
.about > h3 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-style: italic;
    font-size: 30px;
}

.abouttext {
    width: 500px;
    height: 400px;
    padding: 20px 150px 20px 150px;
    background-color: #3f4344;
    display: flex;
    justify-content: center;
    justify-self: center;
    margin-top: 20px;
    border-radius: 10px;
   
    cursor: pointer;
}
.abouttext:hover {

    box-shadow: 10px 10px 10px black;

}


.abouttext > p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
}

.goultron {
    display: flex;
    justify-content: center;
}

.contact {
    display: flex;
 
    height: 600px;
    flex-direction: column;
    align-items: center;
}
.contact {
    width: 100%;
    height: fit-content;
   background-color: #221b1b;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.contact:hover {
    background-color: lightslategray;
 
    cursor: pointer;
}
.contact > h3 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-style: italic;
    font-size: 30px;
}

.abouttext {
    width: 500px;
    height: 400px;
    padding: 20px 150px 20px 150px;
    background-color: #3f4344;
    display: flex;
    justify-content: center;
    justify-self: center;
    margin-top: 20px;
    border-radius: 10px;
   
   
}
.abouttext:hover {

    box-shadow: 10px 10px 10px black;

}


.abouttext > p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
}

.contacts {
    width: 50%;
    height: 400px;


    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 25px;
}
.contacts > div {
    height: 100px;

    display: flex;
    justify-content: center;
    margin-top: 20px;

}


.contacts > div > a > img {
    max-width: 100%;
    max-height: 100%;
}

.footer {
    height: 60px;
    width: 100%;
    background-color: #2196f3;
}